body {
  box-sizing: border-box;
}

.logo {
  height: 250px;
  width: 250px;
  background-color: #bbb;
  border-radius: 50%;
  text-align: center;
  padding: 15px;
  border: 3px solid #000;
  font: 32px Arial;
  position: relative;
  left: 300px;
  bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.graphic {
  height: 150px;
  width: 150px;
  background-color: #bbb;
  border-radius: 50%;
  text-align: center;
  padding: 15px;
  border: 3px solid #000;
  font: 16px Arial;
  position: relative;
  right: 200px;
  bottom: 150px;
  margin-left: auto;
  margin-right: auto;
}

/* .flexbox-container1 {
  display: flex;
  flex-direction: column;
}

.flexbox-item {
  width: 25%;
  height: 80px;
  border: 3px solid #000;
  background-color: rgb(241, 150, 150);
} */

.problemParagraph {
  height: 80px;
  min-width: 300px;
  width: 25%;
  border: 3px solid #000;
  font: 16px Arial;
  padding: 10px;
  position: relative;
  left: 50px;
  top: 100px;
}

.solutionParagraph {
  height: 80px;
  min-width: 300px;
  width: 25%;
  border: 3px solid #000;
  font: 16px Arial;
  padding: 10px;
  position: relative;
  left: 50px;
  top: 120px;
}

.demo {
  position: relative;
  height: 1000px;
  width: 95%;
  max-width: 3000px;
  border: 3px solid #000;
  left: 2.5%;
  bottom: 100px;
}

.demoText {
  font: 60px Arial;
  text-align: center;
}

.demoInstructions {
  font: 16px Arial;
  position: absolute;
  left: 40px;
  top: 100px;
}

.queryEditField {
  position: relative;
  left: 40px;
  top: 60px;
  height: 450px;
  max-width: 900px;
  width: 32%;
  border: 3px solid #000;
  /* padding-left: 2%; */
}

.demoVisualization {
  font: 16px Arial;
  position: relative;
  height: 450px;
  width: fit-content;
  block-size: fit-content;
  left: 37%;
  bottom: 476px;
  border: 3px solid #000;
}

.buttons-row {
  display: flex;
  justify-content: space-around;
}

button,
select {
  font: 20px Ariel;
  height: 100px;
  width: 200px;
  position: relative;
  bottom: 405px;
  border-radius: 15px;
  border: none;
}

.QuerySelectorDropdown {
  background-color: lightblue;
  width: 250px;
  text-align: center;
}

.runQuery {
  background-color: lightgreen;
}

.clearCache {
  background-color: rgb(241, 150, 150);
}

.team {
  text-align: justify;
  border: 3px solid #000;
  min-width: 600px;
  padding: 15px;
  margin: 50px;
  display: flex;
  justify-content: space-evenly;
}

.teamContainer {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.dsTeam {
  font: 36px Arial;
  font-weight: bold;
  text-align: center;
}

.teamMember {
  font: 16px Arial;
  border-radius: 50%;
  min-height: 100px;
  height: 175px;
  min-width: 100px;
  width: 175px;
  border: 3px solid #000;
}

.teamMemberName {
  font: 20px Arial;
  text-align: center;
}

.github {
  font: 16px Arial;
  text-align: center;
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  /* this code makes the footer stay on the page 
  position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
}

.footerBody {
  display: flex;
  justify-content: space-around;
}

.header {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  /* this code makes the header stay on the page */
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
}

.headerBody {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

span {
  font-size: 18px;
  margin-top: 2rem;
  margin-left: 2.5%;
}

.field {
  margin-left: 17.5%;
}

.field:hover {
  cursor: pointer;
}

.queryName {
  margin-left: 10%;
}

.active {
  opacity: 1;
  color: darkblue;
  font-weight: bold;
}

.inactive {
  opacity: 0.7;
  color: gray;
}

/* delete this button styling when button is removed from d3 chart */
#d3-button {
  bottom: 0;
  background-color: aqua;
  height: 20px;
  width: 60px;
}

br {
  content: '';
  display: block;
  margin: 0.4rem 0;
}

.sectionContainer {
  position: fixed;
  top: 10px;
  border: 2px solid blue;
  width: 20%;
  margin-left: 78%;
  text-align: center;
}

.textContainer {
  width: 75%;
}
